asgiref==3.8.1
autopep8==2.0.2
certifi==2022.12.7
distlib==0.3.6
Django==5.0.6
django-cors-headers==4.3.1
django-filter==24.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
filelock==3.9.0
pillow==11.3.0
pipenv==2023.2.18
platformdirs==3.1.1
pybind11==2.10.3
pycodestyle==2.10.0
PyJWT==2.8.0
sqlparse==0.5.0
tomli==2.2.1
typing_extensions==4.14.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
